body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: consolas;
    color: white;
    user-select: none;
}


#calculator {
    background-color: #16161d;
    height: 100%;
    display: grid;
    grid-template-areas: "info"
                         "result"
                         "keyboard";
    grid-auto-rows: 40% 20% 40%;
}

#percent, #amount {
    border-bottom: 2px solid cyan;
    padding-bottom: 2.5%;
    font-size: 4vh;
}

#percent, .lil-subtitle#sub-percent{
    grid-area: percent;
}

#switch {
    grid-area: switch;
    display: grid;
    align-items: center;
    padding-left: 25%;
}

#amount, .lil-subtitle#sub-amount {
    grid-area: amount;
}

.lil-subtitle {
    font-size: 1.5vh;
    padding-top: 90px;
}

#info {
    grid-area: info;
    display: grid;
    align-items: center;
    text-align: center;

    grid-template-areas: "percent"
                         "switch"
                         "amount";
    grid-template-rows: 30% 30% 30%;
    width: 60%;
    margin-left: 20%;
}

#sub-result {
    grid-area: result;
    padding-top: 150px;
    text-align: center;
    color: cyan;
}

#result {
    grid-area: result;
    background-color: #1c3038;
    display: grid;
    align-items: center;
    text-align: center;
    font-size: 7vh;
}

#keyboard {
    grid-area: keyboard;
    font-size: 3vh;
    width: 100%;
    height: 100%;
    background-color: #16161d
}

tbody {
    width: 100%;
    height: 100%;
    display: inline-table;
    align-items: center;
    text-align: center;
}

td {
    width: 33%;
    height: 25%;
}

td:hover{
    transition: 0.1s;
    background-color: #1c3038;
    color: cyan;
}
